.top-side{
    background-color: rgb(180, 0, 0);
    padding: 8px;
    border-radius: 0px 0px 30px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}
.exercises-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.edit-exercise{
    background-color: rgba(180, 0, 0, 0.5);
    margin: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 40px;
}
.edit-exercise input{
    margin: 8px;
    font-size: 16px;
    border-radius: 10px;
    padding: 6px;
}
.edit-exercise button{
    margin: 8px;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    background-color: lightcoral;
    font-weight: 600;
}
.edit-exercise .save-btn{
    background-color: lightgreen;
}
.edit-exercise .btn-cotainer{
    display: flex;
}
.new-exercise-button{
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 60px;
    border-radius: 50px;
}
.exercise{
    background-color: rgba(255, 255, 255, 0.247);
    border: 2px solid black;
    width: 240px;
    padding: 4px 4px 12px 4px;
    margin: 8px;
    border-radius: 16px;
    font-size: 16px;
}
.exercise div{
    margin-top: 6px;
}
.exercise .no{
    background-color: rgba(180, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 4px;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
.exercise .info{
    font-style: italic;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.247);
    padding: 6px;
    border-radius: 8px;
}
.exercise button{
    margin: 10px 14px 0px 14px;
    width: 68px;
    height: 36px;
    font-size: 18px;
    background-color: lightcoral;
    border: none;
    border-radius: 6px;
}
.exercise .edit{
    background-color: rgb(35, 83, 255);
}
.exercise p{
    margin: 16px 0px 2px 0px;
}
.exercise .save-btn{
    background-color: lightgreen;
}
.exercise input{
    font-size: 16px;
    border-radius: 10px;
    padding: 2px;
}